<!DOCTYPE html>
<html>
    <body>
        <ul>
            <li>
                <p>http://localhost:8000/api/addRestaurant - Add restaurant to the record</p>
                <a href="http://localhost:8000/api/addRestaurant">http://localhost:8000/api/addRestaurant</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/addFoodItem - Add an item to the record</p>
                <a href="http://localhost:8000/api/addFoodItem">http://localhost:8000/api/addFoodItem</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/addNutrition - Add nutritional information of an item to the record</p>
                <a href="http://localhost:8000/api/addNutrition">http://localhost:8000/api/addNutrition</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/viewRestaurant/id - View the restaurant assigned with the id</p>
                <a href="http://localhost:8000/api/viewRestaurant/71">http://localhost:8000/api/viewRestaurant/71</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/viewFoodItem/food_id - View the food item assigned with the food_id</p>
                <a href="http://localhost:8000/api/viewFoodItem/4500">http://localhost:8000/api/viewFoodItem/4500</a>
            </li>
            <li>
                <p>http://localhost:8000/api/viewNutrition/nutrition_id - View the nutrition information assigned with the id</p>
                <a href="http://localhost:8000/api/viewNutrition/4500">http://localhost:8000/api/viewNutrition/4500</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/editNutrition/nutrition_id - Editing the nutritional information of nutrition_id entry</p>
                <a href="http://localhost:8000/api/editNutrition/4500">http://localhost:8000/api/editNutrition/4500</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/deleteNutrition/nutrition_id - Viewing and deleting the nutritional information with nutrition_id entry</p>
                <a href="http://localhost:8000/api/deleteNutrition/4500">http://localhost:8000/api/deleteNutrition/4500</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/deleteFoodItem/food_id - Viewing and deleting the nutritional information with food_id entry</p>
                <a href="http://localhost:8000/api/deleteFoodItem/4500">http://localhost:8000/api/deleteFoodItem/4500</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/aboveFilter/calories_count - Viewing all of the nutritional information where the calorie is above the calories_count</p>
                <a href="http://localhost:8000/api/aboveFilter/200">http://localhost:8000/api/aboveFilter/200</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/belowFilter/calories_count - Viewing all of the nutritional information where the calorie is below the calories_count</p>
                <a href="http://localhost:8000/api/belowFilter/1000">http://localhost:8000/api/belowFilter/1000</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/nameFilter/word - Viewing all item that contains the word in the parameter</p>
                <a href="http://localhost:8000/api/nameFilter/Cheese">http://localhost:8000/api/nameFilter/Cheese</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/fullInfo - Viewing full info of all restaurant, food item and nutritional information</p>
                <a href="http://localhost:8000/api/fullInfo">http://localhost:8000/api/fullInfo</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/findRestaurant/restaurant_name - Viewing all of the food item from the restaurant name in the parameter</p>
                <a href="http://localhost:8000/api/findRestaurant/Mcdonalds">http://localhost:8000/api/findRestaurant/Mcdonalds</a>
            </li>
            <br>
            <li>
                <p>http://localhost:8000/api/reviews - Creating reviews to a certain food item id</p>
                <a href="http://localhost:8000/api/reviews">http://localhost:8000/api/reviews</a>
            </li>
        </ul>
    </body>
</html>